<<<<<<< HEAD
html,
body,
#root,
.App,
.canvas-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
}
=======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> 4190355 (#6 feature/homepage/front add button and dl)

.App {
  text-align: center;
}
