<<<<<<< HEAD
html,
body,
#root,
.App,
.canvas-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
}
=======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> 4190355 (#6 feature/homepage/front add button and dl)


.App {
  text-align: center;
}
<<<<<<< HEAD
=======
body {
  background-image:url(https://i.ytimg.com/vi/3dKvgcahCAI/maxresdefault.jpg);
  background-size: 100%;
}

/** LES LOGOS **/

.Logo-dl {
  height : 80px;
  width: 300px;
}

.Logo-insta {
  height : 50px;
  width: 100px;

}

.Logo-twitter {
  height : 60px;
  width: 70px;
 
}

.Logo-git {
  height : 60px;
  width: 70px;
 
}

/**LES BOUTONS**/



*,*::before,*::after{box-sizing: border-box;}

button{

all:unset;
cursor:pointer;
display: flex;
justify-content: center;
align-items: center;
border-radius:4px;
text-transform: uppercase;
font-size: 1.25rem;
padding: 10px 20px;
margin:1rem;
	
	}
.Buttons{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
  
.Buttons-social-network{
  position: absolute;
  right: 0;
  bottom:0;
  display: flex;
}

.Button-dl{
  display: flex;
  justify-content: flex-end;
}

.neon-box-1{

background:linear-gradient(to right, #0ff 0%,50%,#f0f 100%);
width: 300px;
height: 30px;
}

.neon-box-1:hover{

animation: neon-box-1 2s infinite alternate linear 

}	
	
@keyframes neon-box-1{
	
from{
	
	box-shadow:2px 0 6px rgba(255, 0, 255, 0.7),-2px 0 6px rgba(0, 255, 255, 0.7),5px 0 10px rgba(255, 0, 255, 0.7),-5px 0 10px rgba(0, 255, 255, 0.7)
		
	
	}
	
to{

	
box-shadow:10px 0 20px rgba(255, 0, 255, 0.7),-10px 0 20px rgba(0, 255, 255, 0.7),15px 0 30px rgba(255, 0, 255, 0.7),-15px 0 30px rgba(0, 255, 255, 0.7)
	}
	
	}		
	
/***************DROP-SHADOW******************/
.neon-drop-1 {

background:linear-gradient(to right, #0ff 0%,50%,#f0f 100%);

}

.neon-drop-1::after
{

content: "";
position: absolute;
z-index: -1;	
top: 0;
left: 0;
bottom: 0;
right: 0;

}
	
	
.neon-drop-1:hover::after
{

background: inherit;
filter: blur(10px);
animation: neon-drop 2s infinite alternate linear 

}

@keyframes neon-drop{

from{
	
transform:scalex(1) scaleY(1.09);
	
	}

to{
	
transform:scalex(1.15) scaleY(1.25);
	}
	
}
>>>>>>> eb38f00 (#6 feature/homepage/front style home page, social network and download)
