@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}
body {
  background-image:url(https://i.ytimg.com/vi/3dKvgcahCAI/maxresdefault.jpg);
  background-size: 100%;
  
}

/** LES LOGOS **/

.Logo-dl {
  height : 80px;
  width: 300px;
}

.Logo-insta {
  height : 50px;
  width: 100px;

}

.Logo-twitter {
  height : 60px;
  width: 70px;
 
}

.Logo-git {
  height : 60px;
  width: 70px;
 
}

/**LES BOUTONS**/



*,*::before,*::after{box-sizing: border-box;}

button{

all:unset;
cursor:pointer;
display: flex;
justify-content: center;
align-items: center;
border-radius:4px;
text-transform: uppercase;
font-size: 1.25rem;
margin: 4px;

	
	}
.Buttons{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
  
.Buttons-social-network{
  position: absolute;
  right: 0;
  bottom:0;
  display: flex;
}

.Button-dl{
  display: flex;
  justify-content: flex-end;
}

.neon-box-1,.disconnect-button,.connect-button,.login-connect-button, .valid-register-button{

background:linear-gradient(to right, #0ff 0%,50%,#f0f 100%);
width: 300px;
height: 30px;
}

.neon-box-1:hover,.disconnect-button:hover,.connect-button:hover,.login-connect-button:hover, .valid-register-button:hover{

animation: neon-box-1 2s infinite alternate linear 

}	
	
@keyframes neon-box-1{
	
from{
	
	box-shadow:2px 0 6px rgba(255, 0, 255, 0.7),-2px 0 6px rgba(0, 255, 255, 0.7),5px 0 10px rgba(255, 0, 255, 0.7),-5px 0 10px rgba(0, 255, 255, 0.7)
		
	
	}
	
to{

	
box-shadow:10px 0 20px rgba(255, 0, 255, 0.7),-10px 0 20px rgba(0, 255, 255, 0.7),15px 0 30px rgba(255, 0, 255, 0.7),-15px 0 30px rgba(0, 255, 255, 0.7)
	}
	
	}		
	
/***************DROP-SHADOW******************/
.neon-drop-1 {

background:linear-gradient(to right, #0ff 0%,50%,#f0f 100%);

}

.neon-drop-1::after
{

content: "";
position: absolute;
z-index: -1;	
top: 0;
left: 0;
bottom: 0;
right: 0;

}
	
	
.neon-drop-1:hover::after
{

background: inherit;
filter: blur(10px);
animation: neon-drop 2s infinite alternate linear 

}

@keyframes neon-drop{

from{
	
transform:scalex(1) scaleY(1.09);
	
	}

to{
	
transform:scalex(1.15) scaleY(1.25);
	}
	
}


/** LOGIN PAGE **/

.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
  }

.user-inputs{
    width: 300px;
    height: 30px;
    border-radius: 4px;
    background:linear-gradient(to right, #0ff 0%,50%,#f0f 100%);
    opacity: 0.6;
}

input::placeholder {
    color: black;
    opacity: 0.7;
    text-align: center;
    font-style: italic;
  }

.login-link{
    text-align: center;
    font-style: bold;
}

/** REGISTER PAGE **/

.register-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
}

.register-link{
    text-align: center;
    font-style: bold;
}

/** SETTINGS PAGE **/

.settings-rules{
  position: relative;
  text-align: center;
}

.settings-img{
  display: flex;
 justify-content: center;
}

.settings-touch{
  font-style: bold;
  font-size: 32px;
  
}

.settings-title{
  font-size: 50PX;
  color: yellow;
  text-align: center;
  font-style: bold;
  margin-bottom: 30px;
}

.title-word {
  animation: color-animation 6s linear infinite;
}

.title-word-1 {
  --color-1: #ff5aac;
  --color-2: #2ddff3;
  --color-3: #ffff62;
}

.title-word-2 {
  --color-1: #ffff62;
  --color-2: #ff5aac;
  --color-3: #2ddff3;
}

.title-word-3 {
  --color-1: #2ddff3;
  --color-2: #ffff62;
  --color-3: #ff5aac;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */

.container {
  display: grid;
  place-items: center;  
  text-align: center;
  height: 100vh
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3.5vw;
  text-transform: uppercase;
}

.touch-1{
color:#ffff62;
}

.touch-2{
  color: #ff5aac;
}

.touch-3{
  color :#2ddff3;
}